<%= render "submenu" %>
<div class="cell">
  <h1><%= @larp.title %> by <%= @larp.user.name %></h1>
  <section class="grid-x grid-margin-x">
    <article class="cell medium-8">
      <p>Starts on: <%= @larp.start_date.strftime("%d %b %Y") %></p>
        <address>
          Address:<br/>
          <%= @larp.address.street %><br/>
          <%= @larp.address.suburb %><br/>
          <%= @larp.address.country %><br/>
          <%= @larp.address.postcode %>
        </address>
      <p>Description: <%= @larp.description %></p>
    </article>
    <article class="cell medium-4">
      <%= render "larps/admin/manage_larp", larp: @larp %>
      <% if @larp.belongs_to_current_user?(current_user) %>
        <%= render "character_accordion", characters: @larp.characters %>
      <% else %>
        <%= render "character_accordion", characters: @larp.published_characters %>
      <% end %>
    </article>
  </section>
</div>