<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><strong><%= link_to "Larping 2019", root_path %></strong></li>
      <li><%= link_to "Larps", larps_path %></li>
      <% if current_user %>
        <li><%= link_to current_user.name, user_path(current_user.id) %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
  <div class="top-bar-right">
  <i class="">
    <div class="switch large">
      <input class="switch-input" id="theme-chooser" type="checkbox" name="exampleSwitch">
      <label class="switch-paddle fab" for="theme-chooser">
        <span class="switch-active" aria-hidden="true" id="theme-for-orcs"></span>
        <span class="switch-inactive" aria-hidden="true" id="theme-for-elves"></span>
      </label>
    </div>
  </div>
</div>