<%= form_with model: @character, autocomplete: false, local: true do |f| %>
  <%= f.hidden_field :larp_id, value: @larp.id %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 5 %>
  </div>

  <div class="field">
    <%= f.label :race %>
    <%= f.select :race, CharacterHelper::RACES %>
  </div>

  <div class="field">
    <%= f.label :occupation %>
    <%= f.text_field :occupation %>
  </div>

  <div class="field">
    <label>Publish Character</label>
    <div class="form__container--switch">
      <%= f.check_box :published, class:"switch-input", id: "character[published]", name:"character[published]", aria_describedby: "publish_character_help_text" %>
      <%= f.label :published, class:"switch-paddle", for: "character[published]" do %>
        <span class="show-for-sr">Small Portions Only</span>
      <% end %>
    </div>
    <p class="help-text" id="publish_character_help_text">By choosing to publish this character, other users will be able to view all details about the character and start applying to play them.</p>
  </div>

  <%= f.submit class: "button primary" %>
<% end %>
